In [5]:
#!usr/bin/python
#-*- coding:utf-8 -*-

import statsmodels
import pandas as pd

iris = pd.read_csv('E:/data/iris.data.csv')
iris.sample(10)

,id,sepal_length,sepal_width,petal_length,petal_width,species
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
149,150,5.9,3.0,5.1,1.8,Iris-virginica
76,77,6.8,2.8,4.8,1.4,Iris-versicolor
10,11,5.4,3.7,1.5,0.2,Iris-setosa
70,71,5.9,3.2,4.8,1.8,Iris-versicolor
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
139,140,6.9,3.1,5.4,2.1,Iris-virginica
77,78,6.7,3.0,5.0,1.7,Iris-versicolor
128,129,6.4,2.8,5.6,2.1,Iris-virginica

In [8]:
import statsmodels.stats.weightstats
statsmodels.stats.weightstats.ztest(iris['sepal_length'],value = 4)

(27.263680640799215, 1.1440121172576985e-163)

In [11]:
iris.describe()

               id  sepal_length  sepal_width  petal_length  petal_width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    75.500000      5.843333     3.054000      3.758667     1.198667
std     43.445368      0.828066     0.433594      1.764420     0.763161
min      1.000000      4.300000     2.000000      1.000000     0.100000
25%     38.250000      5.100000     2.800000      1.600000     0.300000
50%     75.500000      5.800000     3.000000      4.350000     1.300000
75%    112.750000      6.400000     3.300000      5.100000     1.800000
max    150.000000      7.900000     4.400000      6.900000     2.500000

In [10]:
import numpy as np
np.mean(iris['sepal_length'])

5.8433333333333337

In [13]:
statsmodels.stats.weightstats.ztest(iris['sepal_length'],value = 5.7)

(2.1199607008216415, 0.034009359620044408)

In [21]:
iris_vir = iris[iris.species == 'Iris-virginica']
iris_s = iris[iris.species == 'Iris-setosa']
vir = np.mean(iris_vir['sepal_length'])
s = np.mean(iris_s['sepal_length'])
print("{},{}".format(vir,s))

6.587999999999998,5.006

In [23]:
import scipy
scipy.stats.ttest_1samp(iris_vir['sepal_length'],popmean = 6.5)

Ttest_1sampResult(statistic=0.97857200329370875, pvalue=0.33259838271651843)

In [18]:
scipy.stats.ttest_ind(iris_vir['sepal_length'],iris_s['sepal_length'])

Ttest_indResult(statistic=15.386195820079404, pvalue=6.8925460606740589e-28)